<!doctype html>
<html lang="en">


<head>
<title> Booking Form</title>
</head>

<!--<pre>{{session| json}}</pre>-->

<!--<body>-->
<div class ="container">
<!--  <h4 class="patientTitle">Patient Details </h4>-->
<!--</div>-->
  <br>

<!--<br>-->

<!--<div class ="container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <input type="text" class="form-control" placeholder="Patient Full Name" aria-label="Patient Full Name">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--<br>-->

<!--<div class="container">-->
<!--  <div class="col-md-3">-->
<!--    <label for="cc-expiration" class="form-label">Date of Birth</label>-->
<!--    <input type="date" class="form-control" id="cc-expiration" placeholder="" required>-->
<!--    <div class="invalid-feedback">-->
<!--      Date of birth required-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<br>-->



<!--<div class="container">-->
<!--  <select class="form-select" aria-label="Default select example">-->
<!--    <option selected>Select State or Territory</option>-->
<!--    <option value="1">NSW</option>-->
<!--    <option value="2">VIC</option>-->
<!--    <option value="3">QLD</option>-->
<!--    <option value="4">ACT</option>-->
<!--    <option value="5">NT</option>-->
<!--    <option value="6">TAS</option>-->
<!--    <option value="7">SA</option>-->
<!--  </select>-->
<!--</div>-->


<!--<br>-->


<!--<div class="container">-->
<!--  <div class="mb-3">-->
<!--    <label for="occupation" class="form-label">What is your current occupation?</label>-->
<!--    <textarea [(ngModel)] = "patientOccupation" class="form-control" id="occupation" rows="3"></textarea>-->
<!--  </div>-->
<!--</div>-->



<!--<br>-->

<!--<div class="container">-->
<!--  <h4 class="bookingTitle">Booking Details </h4>-->
<!--</div>-->

<!--<br>-->

<!--<div class="container">-->
<!--  <select class="form-select" aria-label="Default select example">-->
<!--    <option selected>Select Practice</option>-->
<!--&lt;!&ndash;    <option value="1">Plumpton Medical Centre</option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="2">Chatswood Medical Centre</option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="3">Bondi Medical Centre</option>&ndash;&gt;-->
<!--  </select>-->
<!--</div>-->


<!--<br>-->

<!--<div class="container">-->
<!--  <select class="form-select" aria-label="Default select example">-->
<!--    <option selected>Select Practitioner</option>-->
<!--&lt;!&ndash;    <option value="1">Dr Sally Field </option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="2">Dr Ben Martin </option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="3">Dr Jenny Zhao</option>&ndash;&gt;-->
<!--  </select>-->
<!--</div>-->

<!--<br>-->

<!--<div class="container">-->
<!--  <select class="form-select" aria-label="Default select example">-->
<!--    <option selected>Select Available Date</option>-->
<!--&lt;!&ndash;    <option value="1">22/05/21 </option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="2">23/05/21 </option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="3">24/05/21</option>&ndash;&gt;-->
<!--  </select>-->
<!--</div>-->

<!--<br>-->

<!--<div class="container">-->
<!--  <select class="form-select" aria-label="Default select example" *ngFor="let practices of currentPractices">>-->
<!--    <option selected>Select Available Time</option>-->
<!--&lt;!&ndash;    <option value="1">09:00 am </option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="2">12:00 pm </option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="3">02:00 pm</option>&ndash;&gt;-->
<!--    <option value = "1">  {{practices.practiceId}} , {{practices.practiceName}} </option>-->
<!--  </select>-->
<!--</div>-->

<!--<br>-->




<!--<div class="container">-->
<!--  <h6 class="disability">Are you a person with a significant disability ?</h6>-->


<!--  <div class="form-check">-->
<!--    <input class="form-check-input" type="radio" name="disability" id="disability1">-->
<!--    <label class="form-check-label" *ngFor="let practices of currentPractices">>-->
<!--      <p> {{practices.practiceId}} , {{practices.practiceName}}</p>-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="form-check">-->
<!--    <input class="form-check-input" type="radio" name="disability" id="disability2" checked >-->
<!--    <label [(ngModel)] = "patientDisability" class="form-check-label" for="disability2">-->
<!--      No-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->

<!--<br>-->

<!--<div class="container">-->
<!--  <h6 class="medicalCondition">Do you have an underlying medical condition?</h6>-->

<!--  <div class="form-check">-->
<!--    <input class="form-check-input" type="radio" name="medcon" id="medcon1">-->
<!--    <label [(ngModel)] = "patientMedCondition" class="form-check-label" for="medcon1">-->
<!--      Yes-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="form-check">-->
<!--    <input class="form-check-input" type="radio" name="medcon" id="medcon2" checked>-->
<!--    <label [(ngModel)] = "patientMedCondition"  class="form-check-label" for="medcon2">-->
<!--      No-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->





<!--<br>-->


<!--<div class="container">-->
<!--  <button type="button" class="btn btn-primary"(click) = "submit()" >Submit</button>-->
<!--</div>-->

<!--<br>-->



<!--</body>-->

<!--<body>-->
<!--<div class="container">-->

<div>
  <h1> Available Practices</h1>
  <br>

  <ul class="list-group">
    <a class="list-group-item" *ngFor="let practices of currentPractices" routerLink="practitioner">
      <p> {{practices.practiceName}} ({{practices.practiceId}})</p>
    </a>
  </ul>
</div>



<!--<div class="form-check">-->
<!--  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
<!--  <label class="form-check-label" *ngFor="let practices of currentPractices">-->
<!--    <p> {{practices.practiceId}} , {{practices.practiceName}}</p>-->
<!--  </label>-->
<!--</div>-->

<!--<br>-->

<!--<div>-->
<!--  <h1> Available Practitioners</h1>-->
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item" *ngFor="let practitioners of currentPractitioners">-->
<!--      <p> {{practitioners.practitionerName}} ({{practitioners.practitionerId}})</p>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<br>-->

<!--<div>-->
<!--  <h1> Available Sessions</h1>-->
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item" *ngFor="let sessions of availableSessions">-->
<!--      <p>{{sessions.sessionId}} , {{sessions.sessionDate}} , {{sessions.sessionTime}}</p>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--  <br>-->

<!--  <div>-->
<!--    <h1> Current Patients</h1>-->
<!--    <ul class="list-group">-->
<!--      <li class="list-group-item" *ngFor="let patients of currentPatients">-->
<!--        <p>{{patients.patientId}} , {{patients.patientName}} , {{patients.patientDOB}} , {{patients.patientState}} , {{patients.patientOccupation}} , {{patients.patientDisability}} , {{patients.patientMedCondition}} </p>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <br>-->
<!--  <div class="container">-->
<!--    <button type="button" class="btn btn-primary"(click) = "submit()" >Submit</button>-->
<!--  </div>-->


  </div>
</html>
